.forum
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message
{
  width: 65vw;
  height: 75vh;
  border-radius: 10px;
  background-color: #202127;
  display: flex;
  flex-direction: column;
}

#forum_list
{  
  padding: 20px 30px;
  overflow-y: auto;
}

.text-message
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.text-message form
{
  margin: 10px 10px;
}

.forum-name
{
    font-family: Gilroy-Bold;
    margin: 5px 0;
}

.forum-message1
{
  display: flex;
align-items: self-end;
flex-direction: column;
}

.forum-message2
{
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.forum-message-you
{
  background-color: #4f566f;
  max-width: 300px;
  border-radius: 10px;
  padding: 5px 15px;
}

.forum-message-me
{
  background: linear-gradient(0.25turn, #764098, #21409A);
  max-width: 300px;
  border-radius: 10px;
  padding: 5px 15px;

}

.forum-date p
{
  display: flex;
  justify-content: center;
}

.forum-time
{
  display: flex;
  align-items: self-end;
}

.forum-time p
{
  opacity: 0.7;
  font-size: 12px;
  margin: 0 10px;
}

input[type="submit"] {
    background:url('../image/send.png') no-repeat center, linear-gradient(0.25turn, #764098, #21409A);
    border-radius: 50px;
    border: none;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    cursor: pointer;
}

input[type="text"] {
    border-radius: 40px;
    border: none;
    width: 50vw;
    height: 40px;
    padding: 10px;
    font-family: Gilroy;
    background: #4f566f;
    color: #C7CEEB;
}
@media (max-width: 480px) {
  #forum-form input[type="text"]
  {
    width: 70vw;
  }
  }