.first-slider {
    width: 800px;
    height: 500px;
    /*background-color: #fff;*/
}

.main-slider__slide {
    height: 100%;
    display: flex;
}

.poster-image {
    width: 50%;
}

.poster-image img {
    width: 100%;
}

.poster-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster-header
{
     font-family: Gilroy-Bold;
     font-size: 70px;
     margin-left: -80px;
     text-shadow: 5px 5px 5px #00000096;
}

.poster-description
{
    font-size: 17px;
    margin: 30px 0;
}

.poster-button, .poster-description
{
    padding-left: 20px;
}

.poster-button button
{
  width: 170px;
  height: 40px;
}

button
{
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A));
  background: linear-gradient(0.25turn, #764098, #21409A);
}

a
{
  font-size: 16px;
  font-family: Gilroy;
  color: #C7CEEB;
  text-decoration: none;
}

.owl-prev,
.owl-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(0.25turn, #764098, #21409A) !important;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
    color: black !important;
    font-size: 20px !important;
    opacity: 0.5;
    transition: opacity 400ms ease;
}

.owl-prev:hover {
    opacity: 1;
}

.owl-next:hover {
    opacity: 1;
}

.owl-prev {
    left: -40px;
}

.owl-next {
    right: -40px;
}

.owl-prev i,
.owl-next i {
    transform: scale(2, 5);
    width: 10px;
    height: auto;
}

.secondary-slider {
    width: 80%;
}

.secondary-slider__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: rgb(148, 131, 131);*/
    height: 500px;
    align-items: center;
}

.secondary-slider__slide h2
{
    font-family: Gilroy-Bold;
}

.owl-button button
{
  width: 150px;
  height: 30px;
}


.owl-dot {
    background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A)) !important;
    background: linear-gradient(0.25turn, #764098, #21409A) !important;
    opacity: 0.5;
    border-radius: 50%;
    height: 13px !important;
    width: 13px !important;
    margin: 0 5px;
}

.owl-dots .active{
    opacity: 1;
}

form
{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 85vw;
}
.input
{
  display: flex;
  justify-content: flex-start;
}
.inputGroup
{
  padding-right: 15px;
  font-size: 20px;
}
.inputGroup input
{
  display: none;
}

.inputGroup input:checked ~ label 
{
  color: #fff;
  border-bottom:4px solid #5562eb;
  padding-bottom: 5px;
}
.form-line
{
  color: #707070;
  width: 260px;
}