@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../font/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url(../font/Gilroy-Heavy.ttf);
}

body {
  background-color: #000 !important;
  color: #C7CEEB !important;
  overflow-x: hidden;
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.morph-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.morph {
  position: relative;
  height: 100%;
  fill: var(--background-color-2);
  flex: none;
}

.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.title 
{
  display: flex;
  width: 85%;
  justify-content: flex-start;
}

.content-filter
{
  display: flex;
  width: 85%;
  justify-content: flex-start;
}

h1
{
  font-family: Gilroy-Heavy;
  font-size: 60px;
  text-align: right;  
}

.film_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
}

.film_item {
  width: calc(90% / 4);
  margin: 0 1%;
} 

.film_item a
{
  text-decoration: none;
}

.film_photo img {
  width: 100%;
}

.film_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.film_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Gilroy-Bold;
  font-size: 20px;
  text-align: center;
}