@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../font/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url(../font/Gilroy-Heavy.ttf);
}

body {
  background: linear-gradient(0.25turn,#3B1455,#0B1945);
  color: #C7CEEB !important;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  height: 80vh;
}

.content
{
  width: 600px;
  height: 70vh;
  box-shadow: 4px 6px 15px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
}

.content-registration, .content-authorization{
  display: none;
}

.content-registration-open, .content-authorization-open
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-data
{
  display: flex;
  flex-direction: column;
}

.left-part, .right-part
{
  width: 50vw;
  /*height: 70vh;*/
  padding: 0 20px;
}

.left-part form
{
  margin: 0;
}

.right-part
{
 background: linear-gradient(0.25turn, #764098, #21409A);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.right-part h2
{
  text-align: center;
  font-family: Gilroy-Bold;
}

.left-part
{
  background: #000;
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.form-logo
{
  margin-top: 20px
}

.form-logo img
{
  width: 45px;
}

.button
{ 
  margin-top: 30px;
  width: 200px;
  height: 40px;
  font-family: Gilroy;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A));
  background: linear-gradient(0.25turn, #764098, #21409A);
}

input{
  color: rgb(228, 228, 228);
  border-bottom: 1px solid #764098;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  outline: none;
  margin-top: 10px;
  padding: 5px 10px;
}

.input
{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.inputGroup
{
  font-size: 16px;
  cursor: pointer;
width: 120px;
text-align: center;
}
.inputGroup input
{
  display: none;
}
.inputGroup input:checked ~ label 
{
  color: #fff;
  padding-bottom: 5px;
  border-bottom:4px solid #5562eb;
  padding: 4px 11px;
}

.inputGroup input:checked ~ .inputGroup {

  border-bottom:4px solid #5562eb;
}

.form-line
{
  color: #707070;
  width: 240px;
}

/*accaunt*/
.name
{
  display: flex;
flex-direction: column;
align-items: center;
}

.name span:first-child
{
  font-size: 23px;
}

.discount
{
    display: flex;
flex-direction: column;
align-items: center;
}


.discount h1
{
  font-family: Gilroy-Heavy;
margin: 0;
font-size: 50px;
}

.right-part-accaunt
{
  display: flex;
justify-content: space-around;
}

.right-part a
{
  text-align: center;
  color: #C7CEEB;
  font-size: 14px;
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  font-size: 20px;
  display: block;
  margin: 0;
  cursor: pointer;
}

p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 0.7;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
}

.accordion
{
    padding-bottom: 4px;
  padding-top: 18px;
  border-bottom: 1px dotted #dce7eb;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #764098;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

@media (max-width: 768px)
{
  .content
  {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100vw;
align-items: center;
box-shadow: 4px 6px 15px rgba(0,0,0,0);
  }
  .left-part, .right-part
  {
    background: transparent;
  }
  .info
  {
    display: none;
  }
  .form-logo
  {
    display: none;
  }

}

@media (max-width: 480px) {
 .left-part, .right-part
  {
    width: 100vw;
  }

  }