@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../font/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url(../font/Gilroy-Heavy.ttf);
}

body {
  background: linear-gradient(0.25turn,#3B1455,#0B1945);
  color: #C7CEEB !important;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.content
{
  width: 600px;
  height: 70vh;
  box-shadow: 4px 6px 15px rgba(0,0,0,0.5);
}

.content-registration, .content-authorization{
  display: none;
}

.content-registration-open, .content-authorization-open
{
  display: flex;
  flex-direction: row;
}

.left-part, .right-part
{
  width: 50vw;
  height: 70vh;
  padding: 0 20px;
}

.right-part
{
 background: linear-gradient(0.25turn, #764098, #21409A);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.right-part h2
{
  text-align: center;
  font-family: Gilroy-Bold;
}

.left-part
{
  background: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form-logo img
{
  width: 50px;
}

.button
{ 
  width: 200px;
  height: 40px;
  font-family: Gilroy;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A));
  background: linear-gradient(0.25turn, #764098, #21409A);
}

input{
  color: rgb(228, 228, 228);
  border-bottom: 1px solid #764098;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  outline: none;
}


.input
{
  display: flex;
  justify-content: flex-start;
}
.inputGroup
{
  padding-right: 15px;
  font-size: 20px;
}
.inputGroup input
{
  display: none;
}
.inputGroup input:checked ~ label 
{
  color: #fff;
  border-bottom:4px solid #5562eb;
  padding-bottom: 5px;
}
.form-line
{
  color: #707070;
  width: 260px;
}