/*ДЛЯ ВРЕМЕННОГО МЕНЮ*/
#hed {
  background: none;
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_content nav ul li {
  list-style: none;
  margin-right: 10px;
}

.snip1135 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.snip1135 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}

.snip1135 a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}

.snip1135 a:before, .snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A));
  background: linear-gradient(0.25turn, #764098, #21409A);
}

.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.snip1135 a:hover:before {
  opacity: 1;
  width: 100%;
}

.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}

.snip1135 a:hover:after, .snip1135 .current a:after {
  max-width: 100%;
}

.logo {
  width: 80px !important;
  margin-top: -30px;
}


/*КОНЕЦ СТИЛЕЙ ДЛЯ ВРЕМЕННОГО МЕНЮ*/
.stock
{
  display: flex;
  justify-content: center;
  width: 85vw;
  align-items: center;
}
.stock-image
{
  flex-basis: 50%;
}

.stock-image img
{
  width: 100%;
}

.stock-text
{
  flex-basis: 50%;
  padding: 0 15px;
}

.stock-title
{
   font-family:  Gilroy-Bold;
   font-size: 40px;
   padding-bottom: 15px;
}

.stock-content
{
  font-size: 18px;
}

.title 
{
  display: flex;
  width: 85%;
  justify-content: flex-start;
}

h1
{
  font-family: Gilroy-Heavy;
  font-size: 60px;
  text-align: right;  
}
