.stock
{
  display: flex;
  justify-content: center;
  width: 85vw;
  align-items: center;
}
.stock-image
{
  flex-basis: 50%;
}

.stock-image img
{
  width: 100%;
}

.stock-text
{
  flex-basis: 50%;
  padding: 0 15px;
}

.stock-title
{
   font-family:  Gilroy-Bold;
   font-size: 40px;
   padding-bottom: 15px;
}

.stock-content
{
  font-size: 18px;
}

.title 
{
  display: flex;
  width: 85%;
  justify-content: flex-start;
}

h1
{
  font-family: Gilroy-Heavy;
  font-size: 60px;
  text-align: right;  
}

@media (max-width: 992px)
{
  .content-wrap {
  height: 50vh;
  min-height: 500px;
  }
  .content--related {
  height: 50vh;
  min-height: 500px;
  }
}

@media (max-width: 768px)
{
  .content-wrap {
  height: 40vh;
  min-height: 600px;
  }
  .content--related {
  height: 40vh;
  min-height: 600px;
  }
}

@media (max-width: 576px)
{
  .content-wrap {
  height: 50vh;
  min-height: 500px;
  }
  .content--related {
  height: 50vh;
  min-height: 500px;
  }
}

@media (max-width: 480px) {
  .content-wrap {
  height: 80vh;
  min-height: 500px;
  }
  .content--related {
  height: 80vh;
  min-height: 500px;
  }
  }