@font-face {
  font-family: Gilroy;
  src: url(../../font/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../font/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url(../../font/Gilroy-Heavy.ttf);
}

body {
  background-color: #000 !important;
  color: #C7CEEB !important;
  overflow-x: hidden;
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-left: 25vw;
	/*padding-top: 30px;*/
}

header
{
	position: fixed;
	display: flex;
	background-color: #202127;
	height: 100vh;
	width: 20vw;
	z-index: 10;
}

header nav .nav-logo img {
  width: 60px;
  z-index: 1;
  margin-bottom: 20px;
}

header nav .nav-content .nav-list ul li {
  list-style-type: none;
  list-style: outside none none;
  margin: 15px 0; 

}

header nav .nav-content .nav-list ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

header nav .nav-content .nav-list ul li a img {
 width: 20px;
 margin-bottom: -5px;
}

.out
{
	margin-top: 50px;
}

h1
{
  font-family: Gilroy-Heavy;
  font-size: 45px;
}

/*MAIN*/
.main-static
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  margin-top: 40px;
}

.count-session, .count-film, .count-users
{
width: 200px;
padding: 5px 25px 5px 15px;
display: flex;
flex-direction: column;
justify-content: center;
}

.info
{
  margin-top: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.count
{
  font-family: Gilroy-Heavy;
  font-size: 40px;
  display: flex;
}

.count-film
{
  background: linear-gradient(0.45turn, #0EA7F2, #21409A);
}

.count-session
{
  background: linear-gradient(0.45turn, #f06511, #C6064E);
}

.count-users
{
  background: linear-gradient(0.45turn, #eb00ff, #57058a);
}

.main-info-time
{
  font-family: Gilroy-Bold;
}

.session-slider
{
  width: 150px;
  display: flex;
}

.session-slider p
{
  margin: 10px 5px;
  opacity: 0.6;
  font-size: 12px;
}

.busy-place
{
background: #21409A;
color: #21409A;
margin: auto 0;
}

.free-place
{
  background: gray;
}

.main-chart
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202127;
}

.main-voting
{
  width: 200px;
  background-color: #202127;
  height: 65%;
  padding: 10px;
}

.main-weather
{
  background-color: #21409A85;
  padding: 10px;
  display: flex;
  align-items: center;
}

.weather-info
{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.weather
{
  font-size: 11px;
}

.degree
{
  font-family: Gilroy-Bold;
  font-size: 25px;
}

.main-info
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*FILMLIST*/
.but-delete
{
  text-indent: -99999px;
white-space: nowrap;
overflow: hidden;
background: url(../../image/delete.png) no-repeat top left;
border: none;
width: 30px;
height: 30px;
cursor: pointer;
}

.film-page
{
  display: flex;
  justify-content: center;
  width: 75vw;
  margin-bottom: 30px;
}

.film-page-photo
{
  flex-basis: 25%;
}

.film-page-photo img
{
  width: 100%;
}

.film-page-about
{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
/*  align-items: center;
  text-align: center;*/
  padding: 0 45px;
}

.film-page-name
{
  font-family:  Gilroy-Bold;
  font-size: 30px;
  display: flex;
}

.film-page-name img
{
	width: 4%;
	margin-left: 20px;
	margin-bottom: -3px;
}

.film-page-category
{
  opacity: 0.7;
}

.film-page-category p
{
  /*padding: 3px 0;*/
  margin: 0;
  font-size: 15px;
}	

/*SESSIONLIST*/
.session-list
{
  display: flex;
width: 75vw;
flex-wrap: wrap;
}

.session-page
{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  margin-bottom: 30px;
}

.session-page-photo
{
  flex-basis: 25%;
}

.session-page-photo img
{
  width: 50%;
}

.session-page-about
{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.session-name
{
  font-family:  Gilroy-Bold;
  font-size: 20px;
}

/*FORFORM*/
.form-add-film, .form-add-session, .form-add-voting
{
  display: flex;
  width: 70vw;
  justify-content: center;
}

.add-film
{
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.add-film p
{
  font-size: 11px;
  margin:0;
}

.add-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.film-figures
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.film-figures div input
{
  font-size: 13px;
  width: 70px;
}

.film-figures div input[type=date]
{
  width: 130px;
}

.film-figures div input[type=file]
{
  font-size: 12px;
  width: 200px;
}

.description
{
  margin-top: 10px;
}

.description textarea
{
  width: 100%;
}

.genre-country
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.genre-country p
{
  margin-left: -40px;
  margin-bottom: 5px;
}

.voting
{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.voting div
{
  margin: 0 20px;
}

.voting div input
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-add-session p
{
  font-size: 11px;
  margin: 15px 0 0 0;
}

input{
  font-size: 14px;
    color: rgb(228, 228, 228);
    border-bottom: 1px solid #764098;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: none;
    padding: 5px 10px;
  }

.button
{ 
  /*margin-top: 30px;*/
  width: 200px;
  height: 40px;
  font-family: Gilroy;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A));
  background: linear-gradient(0.25turn, #764098, #21409A);
}

.filter
{
    border-bottom: 1px solid #CCC;
    overflow: hidden; 
    /*height: 34px;*/
    background: url(../../image/select-arrow-open.png) no-repeat right;
    width: 200px;

}

.filter select
{
     border-radius: 0;
    background: transparent;
    /*height: 34px;*/
    padding: 5px;
    border: 0;
    font-size: 14px;
    line-height: 1;
    -webkit-appearance: none;
    width: 200px;
     color: #C7CEEB;
     font-family: Gilroy;
}

.filter-border
{
  background: url(../../image/select-arrow-close.png) 98% center no-repeat, linear-gradient(180deg, #99DAFF00 0%, #4B409900 86%, #4B409900 87%, #4B4099 88%, #4B4099 100%);
}

.filter select option
{
  color: #000;
}

.filter select option:hover
{
  color:  #764098;
  background: none;
}

.filter select option:checked {
  color: #764098;
}


.addvoting-result
{
  margin-left: 25vw;
}

.rules-voting
{
  width: 65vw;
}

.rules-voting p
{
  font-family: Gilroy-Bold;
  font-size: 20px;
}

.modal
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(50,50,50,0.5);
  z-index: 15;
  justify-content: center;
  align-items: center;

}

.modal-result
{
  background: linear-gradient(0.25turn,#3B1455,#0B1945);
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  padding: 0 10px 10px 10px;
  display: flex;
flex-direction: column;
align-items: self-end;
min-width: 150px;

}

#modal, #modal-ok
{
  display: none;
  /*display: flex;*/
}

#out, #out1
{
  background: none;
  color: #C7CEEB;
border: none;
border-radius: 0 10px 0 0;
padding: 5px 10px;
margin-right: -10px;
}

#out:hover, #out1:hover
{
  background-color: rgba(0,0,0,0.5);
}

#ok, #ok1
{
width: 30%;
border-radius: 25px;
border: none;
cursor: pointer;
background: -webkit-gradient(linear, left top, right top, from(#764098), to(#21409A));
background: linear-gradient(0.25turn, #764098, #21409A);
color: #C7CEEB;
padding: 5px;
margin: 10px auto;
}

.modal-text
{
 margin: 10px auto;
}